@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
  color: #fff !important;
  background-color: #1677ff !important;
}
.ant-btn-dashed {
  color: #fff !important;
  background-color: #ff4d4f !important;
}

.ant-table {
  margin-block: 0 !important;
  margin-inline: 0 !important;
}

.blog-section {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  border: dashed 2px lightblue;
}

.blog-section > * {
  margin-bottom: 10px !important;
}
